APP_ENV=dev

API_HOST=localhost
API_PORT=8000

UI_HOST=localhost
UI_PORT=8501

VLLM_HOST=localhost
VLLM_PORT=8001

OPENAI_API_KEY=replace_me

# To reach API service inside Docker
API_BASE_URL=http://api:8000
